
*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style-type: none;
}
body{
    font-family: "Inter", sans-serif;
}
.home{
    background-image: url("../images/loanImages/Design.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 400px; 
}
.logomobile{
    display: none;
}
header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2em 5em;
}
header ul {
    display: flex;
    gap: 4em;  
}
header ul li a{
    text-decoration: none;
    font-family: "Inter", sans-serif;
    font-weight: bold;
    color: white;
    font-size: 1em;
}
header ul li a:hover{
    color: #7895CB;
}
header ul li{
    list-style-type: none;
}   
header > a{
    padding-left: .9em;
}
.logsign button{
    height: 3em;
    border-radius: 30em;
    border: none;
    font-family: "inter" , sans-serif;
    font-weight: 400;
}
.logsign button:first-child{
    width: 10em;
    position: relative;
    left: 5.1em;
    padding-right: 5em;
    background-color: #7895CB;
    transition: ease .4s;
    color: white;
}
.logsign button:first-child:hover{
    background-color: #402E7A;
}
.logsign button:last-child{
    background-color: white;
    position: relative;
    width: 6em;
    color: #5C59A8;
    transition: ease .4s;
}
.logsign button:last-child:hover{
    background-color: #c0bfbf;
}
/* Menu burger */
.burger-menu {
    display: block;
    flex-direction: column;
    cursor: pointer;
  }
  
  .burger-menu span {
    width: 25px;
    height: 3px;
    background-color: #fff;
    margin: 4px;
    transition: 0.3s;
  }
  
  /* Cacher le menu au départ sur les petits écrans */
  #nav-links {
    display: flex;
  }
.textheader{
    text-align: center;
    font-weight: bolder;
    color: white;
    font-size: xx-large;
    padding-top: 10vh;
}
.sectionpret{
    display: flex;
    justify-content: center;
}
.zoneoffrepret{
    margin-top: 3rem;
    display: grid;
    grid-template-columns: auto auto auto;
    gap: 10px;
}
.icon{
    width: 100px;
}
.offre{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 25vw;
    background-color:#D9D9D9;
    padding-top:5rem ;
    color: black;
}
h6{
    margin-top: 1rem;
    margin-bottom: 1rem;
}
h3{
    color: #402E7A;
    font-family:"Manjari" , sans-serif ;
    margin-bottom: 1rem;
}
.descripton{
    line-height: 2rem;
    font-size: .8rem;
}
.button{
  background-color: #7895CB;
   border-radius: 44px;
   border: none;
   padding: 10px 16px;
   color: white; 
   margin-top: 2rem;
   cursor: pointer;
   margin-bottom: 19px;
}
.button:hover{
    background-color:#402E7A ;
}
.sectionformulairepret{
    margin-top: 1em;
}

.textPret{
    text-align: center;
    font-size: xx-large;
    font-weight: bold;
    color: black;   
}
.containerFormulaire{
    margin-top: 3rem;
    display: flex;
    justify-content: center;
}
.backgroundFormulaire{
    display: flex;
    justify-content: center;  
    width: 45rem;
    height: 30rem;
    background-color: #D9D9D9;
    padding: 2rem 0rem;  
    border-radius: 8px; 
}
.imagecouteForm{
    width: 20rem;
    height: 30rem;
    border-radius: 8px;
}
form{
    width: 20rem;
    height: 25rem;
    background-image: url("../images/loanImages/image.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 90%;
    display: flex;
    flex-direction: column;
    padding-top: 5rem;
    padding-left: 1rem;
    padding-right: 1rem;
    line-height: 3rem;
    border-radius: 8px;
}
input{
    background-color: white;
    border-radius: 16px;
    border: none;
    height: 2rem;
    padding: 10px;  
}
textarea{
    border: none;
    border-radius: 16px;
    height: 3rem;
    padding: 10px;
}
.sectionFormulairecontact{
    margin-top: 1rem;
}
footer{
    margin-top: 3rem;
    height: 30rem;
    background-color: #4A55A2;
}
.logo{
    margin-left: 2rem;
    margin-top: 2rem;
}
.containerfooter{
    margin-top: 5rem;
    display: flex;
    gap :10rem;
    justify-content: center;
    color: white; 
}
.grandTitreFooter{
    font-size: x-large;
    font-weight: bold;
    margin-bottom: 1rem;
}
.elementsFooter{
    line-height: 2em;
}
.imagelink{
    margin-top: 50px;
    display: flex;
    gap:10px
}

.imagelink img{
    width: 40px;
}
.inputFooter{
    position: relative;
}
.inputFooter{
    width: 15vw;
}
.btefooter{
    background-color: #7895CB;
         border-radius: 44px;
         border: none;
         padding: 10px 16px;
         color: white; 
         margin-top: 2rem;
         cursor: pointer;
        transition-duration: .4s;
        position: relative;
        right: 8em;
}

/* Sidenav menu */
.sidenav {
    height: 100%;
    width: 250px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: -250px;
    background-color:#7895CB;
    padding-top: 60px;
    transition: left 0.5s ease;
  }
  /* Sidenav menu links */
  .sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color:white;
    display: block;
    transition: 0.3s;
  } 
  .sidenav a:hover {
    color: #111;
  }
  .sidenav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
  }
  /* Active class */
  .sidenav.active {
    left: 0;
  }
  /* Close btn */
  .sidenav .close {
    position: absolute;
    top: 0;
    left: 20px;
    font-size: 36px;
  }
  .burger-icon{
    padding: 30px;
  }
  /* Icône burger */
  .burger-icon span {
    display: none;
    width: 35px;
    height: 5px;
    background-color: black;
    margin: 6px 0; 
  }
@media(min-width:1196px) and (max-width:1279px)
{
    .logsign button:first-child{
        font-size: 10px;
    }
    .logsign button:last-child{
        font-size: 10px;
    }
    header ul li a{
        font-size: 1em;
    }
    .containerfooter{
       gap:5rem
    
    }
  
}
@media (min-width: 768px) and (max-width: 1196px) {


.home{  
    height: 300px;
}

header{
    display: none;
}
.elementmobile{
    display: flex;
    justify-content: space-between;
}

.burger-icon span{
    display: block;
}
.logomobile{
    display: block;
    padding: 2rem;
}
.containerfooter{
   gap:2rem
}
.celulle  button{
    display: none;
}
  }

@media(max-width: 768px){
    .home{  
        height: 300px;
    }
    
    header{
        display: none;
    }
    .elementmobile{
        display: flex;
        justify-content: space-between;
    }

    .burger-icon span{
        display: block;
    }
   
    .logomobile{
        display: block;
        padding: 2rem;
    }
    .icon{
        width: 50px;
    }
    .zoneoffrepret{
        margin-top: 3rem;
        display: grid;
        grid-template-columns: auto auto ;
        grid-template-rows: auto;
        gap: 10px;
    }
    .zoneoffrepret:last-child{
      margin-left: auto;
      margin-right: auto;
    }
    h6{
        font-size: 10px;
        margin-top: 1rem;
        margin-bottom: 1rem;
    }
    h3{
        font-size: 10px;
        color: #402E7A;
        font-family:"Manjari" , sans-serif ;
        margin-bottom: 1rem;
    }
    .descripton{
        line-height: 2rem;
        font-size: 1rem;
    }
   
    .textheader{
        font-size: 20px;
    }
    .imagecouteForm{
        display: none;
    }
    .backgroundFormulaire{
        background-color: white;
    }
    .offre{
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 48vw;
        background-color:#D9D9D9;
        padding-top:5rem ;
        color: black;
    }
    .offre:nth-child(3)
    {
        grid-column: 1 / span 2; /* Prend toute la largeur des deux colonnes*/
        justify-self: center; /* Centre l'élément horizontalement */
    }
    form{
        width: 16rem;
        height: 20rem;
    }
    input{
        padding: 5px;
    }
    footer{
        display: none;
    }

}


